[submodule "dailygraphics-next"]
	path = dailygraphics-next
	url = https://github.com/nprapps/dailygraphics-next
[submodule "dailygraphics-templates"]
	path = dailygraphics-templates
	url = https://github.com/bettergov/dailygraphics-templates
[submodule "graphics-js"]
	path = graphics-js
	url = https://github.com/bettergov/graphics-js
